<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="bookmark" href="favicon.ico" />
    <link rel="stylesheet" href="http://gui.avepoint.net/prometheus3/dist/gui/auiframework.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.bootcss.com/react/15.6.1/react.js"></script>
    <script src="https://cdn.bootcss.com/react/15.6.1/react-dom.js"></script>
    <script src="http://gui.avepoint.net/prometheus3/dist/gui/auiframework.js"></script>
    <script src="http://gui.avepoint.net/react-component/build/aui.react.js"></script>
    <title>Docave</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <div id="root"></div>
        </div>
      </div>
    </div>
   
  
  </body>
</html>
