{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "iOS >= 8", "Android >= 4"]
        },
        "modules": false
      }
    ],
    "react",
    "stage-2"
  ]
}
