{
  "presets": [
    "env",
    "react",
    "stage-2"
 
  ],
  "plugins": [
    ["react-css-modules",{
      "filetypes": {
        ".less": {
          "syntax": "postcss-less",
         "plugins": [
         "postcss-nested"
        ]
        }
      },
      "generateScopedName":"[path]___[name]__[local]___[hash:base64:5]"
    }
   ]
  ]
}