<!DOCTYPE html>
<html lang="en">
{{set options = htmlWebpackPlugin.options}}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base target="_blank" />
    <title>{{options.title}}</title>

</head>

<body>
    <div id="root"></div>
     <!-- {{htmlWebpackPlugin.files}} -->
    <script type="text/javascript" src="/vendor/dll.vendor.js"></script>
    <script type="text/javascript" src="/vendor/dll.scope.js"></script>
</body>

</html>